#pre-load {
  background: #14263a;
}

#pre-load .load-circle:before {
  background: #85cdfa;
  -webkit-box-shadow: 30px 0 0 #f678a7;
  -moz-box-shadow: 30px 0 0 #f678a7;
  box-shadow: 30px 0 0 #f678a7;
}

#pre-load .load-circle:after {
  background: #f678a7;
  -webkit-box-shadow: 30px 0 0 #d291bc;
  -moz-box-shadow: 30px 0 0 #d291bc;
  box-shadow: 30px 0 0 #d291bc;
}

@-webkit-keyframes ball1 {
  0% {
    -webkit-box-shadow: 30px 0 0 #d291bc;
    box-shadow: 30px 0 0 #d291bc;
  }
  50% {
    -webkit-box-shadow: 0 0 0 #d291bc;
    box-shadow: 0 0 0 #d291bc;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -o-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
  }
  100% {
    -webkit-box-shadow: 30px 0 0 #d291bc;
    box-shadow: 30px 0 0 #d291bc;
    margin-bottom: 10px;
  }
}

@-moz-keyframes ball1 {
  0% {
    -moz-box-shadow: 30px 0 0 #d291bc;
    box-shadow: 30px 0 0 #d291bc;
  }
  50% {
    -moz-box-shadow: 0 0 0 #d291bc;
    box-shadow: 0 0 0 #d291bc;
    margin-bottom: 0;
    -moz-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
  }
  100% {
    -moz-box-shadow: 30px 0 0 #d291bc;
    box-shadow: 30px 0 0 #d291bc;
    margin-bottom: 10px;
  }
}

@keyframes ball1 {
  0% {
    -webkit-box-shadow: 30px 0 0 #d291bc;
    -moz-box-shadow: 30px 0 0 #d291bc;
    box-shadow: 30px 0 0 #d291bc;
  }
  50% {
    -webkit-box-shadow: 0 0 0 #d291bc;
    -moz-box-shadow: 0 0 0 #d291bc;
    box-shadow: 0 0 0 #d291bc;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
    -ms-transform: translate(15px, 15px);
    -o-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
  }
  100% {
    -webkit-box-shadow: 30px 0 0 #d291bc;
    -moz-box-shadow: 30px 0 0 #d291bc;
    box-shadow: 30px 0 0 #d291bc;
    margin-bottom: 10px;
  }
}

@-webkit-keyframes ball2 {
  0% {
    -webkit-box-shadow: 30px 0 0 #4ebcf0;
    box-shadow: 30px 0 0 #4ebcf0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 #4ebcf0;
    box-shadow: 0 0 0 #4ebcf0;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -o-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
  }
  100% {
    -webkit-box-shadow: 30px 0 0 #4ebcf0;
    box-shadow: 30px 0 0 #4ebcf0;
    margin-top: 0;
  }
}

@-moz-keyframes ball2 {
  0% {
    -moz-box-shadow: 30px 0 0 #4ebcf0;
    box-shadow: 30px 0 0 #4ebcf0;
  }
  50% {
    -moz-box-shadow: 0 0 0 #4ebcf0;
    box-shadow: 0 0 0 #4ebcf0;
    margin-top: -20px;
    -moz-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
  }
  100% {
    -moz-box-shadow: 30px 0 0 #4ebcf0;
    box-shadow: 30px 0 0 #4ebcf0;
    margin-top: 0;
  }
}

@keyframes ball2 {
  0% {
    -webkit-box-shadow: 30px 0 0 #4ebcf0;
    -moz-box-shadow: 30px 0 0 #4ebcf0;
    box-shadow: 30px 0 0 #4ebcf0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 #4ebcf0;
    -moz-box-shadow: 0 0 0 #4ebcf0;
    box-shadow: 0 0 0 #4ebcf0;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
    -ms-transform: translate(15px, 15px);
    -o-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
  }
  100% {
    -webkit-box-shadow: 30px 0 0 #4ebcf0;
    -moz-box-shadow: 30px 0 0 #4ebcf0;
    box-shadow: 30px 0 0 #4ebcf0;
    margin-top: 0;
  }
}

/* Background with Gradient */
#wrapper {  
  background: #4481eb;
  background: -moz-linear-gradient(#4481eb 0%, #04befe 100%);
  background: -webkit-linear-gradient(to top, #4481eb 0%, #04befe 100%);
  background: -o-linear-gradient(to top, #4481eb 0%, #04befe 100%);
  background: -ms-linear-gradient(top, #4481eb 0%, #04befe 100%);
  background: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  color: #fff;
}

.main-content {
  background: #182137;
}

.main-content .hanging {
  background: #232d48;
}

.main-content .hanging .logo-hanging {
  background: #182137;
}

.main-content .text-hanging .word {
  color: #fff;
}

.main-content .inner-content .head-content h3 {
  color: #fff;
}

.main-content .inner-content .head-content h5 {
  color: #fff;
}

.main-content .inner-content .head-content span,
.main-content .inner-content .head-content .name {
  color: #04befe;
}

.main-content .inner-content .content {
  color: #fff;
}

/*=================================================================*/
/* [ Main Content - Home ]                                         */
/*=================================================================*/

.main-content#home .hanging .logo-hanging i,
.main-content#home .hanging .text-hanging .word h6 > span {
  color: #04befe;
}

/*=================================================================*/
/* [ Main Content - Resume ]                                       */
/*=================================================================*/

.main-content#home .inner-content .content #certificates > .row {
  background: #232d48;
}

.main-content#home .inner-content .content #certificates h5:after {
  background: #4ebcf0;
}

.main-content#home .inner-content .content .experience .row {
  background: #232d48;
}

.main-content#home .inner-content .content .experience h5:after {
  background: #4ebcf0;
}

.main-content#home
  .inner-content
  .content
  .experience
  .single-experience
  .experience-when-where {
  color: #04befe;
  background: #182137;
}

.main-content#home
  .inner-content
  .content
  .skills
  .single-skills-wrapper
  > ul,
.main-content#home
  .inner-content
  .content
  .experience
  .single-experience
  > ul {
  border-color: #182137;
}

.main-content#home
  .inner-content
  .content
  .experience
  .single-experience
  ul
  ul
  .experience-body {
  color: #a8a8a8;
}

.main-content#home
  .inner-content
  .content
  .experience
  .single-experience
  ul
  ul
  .experience-name
  i{
  color: #04befe;
}

/* Certificates */

.main-content#home
  .inner-content
  .content
  #certificates
  .certificates-item
  .item-wrapper
  .item {
  border-color: #eff3f7;
}

.main-content#home
  .inner-content
  .content
  #certificates
  .certificates-item
  .item-wrapper
  .item
  .overlay {
  background: rgba(24, 33, 55, 0.9);
  border-color: #fff;
}

.main-content#home
  .inner-content
  .content
  #certificates
  .certificates-item
  .item-wrapper
  .item
  .overlay
  .view-more {
  background: #232d48;
  border-color: #fff;
  color: #fff;
}

.main-content#home
  .inner-content
  .content
  #certificates
  .certificates-item
  .item-wrapper
  .item
  .overlay
  .view-more
  > .back {
  background: #182137;
}

.main-content#home
  .inner-content
  .content
  #certificates
  .certificates-item
  .item-wrapper
  .item
  .overlay
  .view-more
  > .front
  > .value
  > span,
.main-content#home
  .inner-content
  .content
  #certificates
  .certificates-item
  .item-wrapper
  .item
  .overlay
  .view-more
  > .back
  > .value
  > span {
  color: #04befe;
}

.main-content#home
  .inner-content
  .content
  #certificates
  .certificates-item
  .item-wrapper
  .item
  .overlay
  .image-info
  .certificate-name {
  color: #04befe;
}

/*=================================================================*/
/* [ Main Content - Portfolio ]                                    */
/*=================================================================*/

.main-content#home .inner-content .content #projects > .row {
  background: #232d48;
}

.main-content#home .inner-content .content #projects h5:after {
  background: #d291bc;
}

.main-content#home
  .inner-content
  .content
  #projects
  .portfolio-item
  .item-wrapper
  .item {
  border-color: #eff3f7;
}

.main-content#home
  .inner-content
  .content
  #projects
  .portfolio-item
  .item-wrapper
  .item
  .overlay {
  background: rgba(24, 33, 55, 0.9);
  border-color: #fff;
}

.main-content#home
  .inner-content
  .content
  #projects
  .portfolio-item
  .item-wrapper
  .item
  .overlay
  .view-more {
  background: #232d48;
  border-color: #fff;
  color: #fff;
}

.main-content#home
  .inner-content
  .content
  #projects
  .portfolio-item
  .item-wrapper
  .item
  .overlay
  .view-more
  > .back {
  background: #182137;
}

.main-content#home
  .inner-content
  .content
  #projects
  .portfolio-item
  .item-wrapper
  .item
  .overlay
  .view-more
  > .front
  > .value
  > span,
.main-content#home
  .inner-content
  .content
  #projects
  .portfolio-item
  .item-wrapper
  .item
  .overlay
  .view-more
  > .back
  > .value
  > span {
  color: #04befe;
}

.main-content#home
  .inner-content
  .content
  #projects
  .portfolio-item
  .item-wrapper
  .item
  .overlay
  .image-info
  .project-name {
  color: #04befe;
}